
.icon-activity:before { content: '\e800'; } /* '' */
.icon-filter:before { content: '\e801'; } /* '' */
.icon-graph:before { content: '\e802'; } /* '' */
.icon-setting:before { content: '\e803'; } /* '' */
.icon-in:before { content: '\e804'; } /* '' */
.icon-person:before { content: '\e805'; } /* '' */
.icon-spin:before { content: '\e806'; } /* '' */
.icon-money:before { content: '\e807'; } /* '' */
