* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.group_blocks .block {
  max-width: 200px;
  max-height: 130px;
  display: flex;
  border-radius: 20px;
  font-size: 16px;
  color: #29374E;
  padding: 30px 20px 22px 20px;
  background: #FFF;
  /*  background: red;*/
  box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.group_blocks {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}


.icon_img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #EFF9FF;
  /*  margin: 15px;*/
}

.main_blocks {
  position: absolute;
  left: 0;
  right: 0;
  top: 570px;
  bottom: 0;
  max-width: 1024px;

  margin: auto;
}
