* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}



.group_blocks .block {
  width: 50%;
  display: flex;
  border-radius: 20px;
  font-size: 16px;
  color: #29374E;
  padding: 15px 17px 30px 20px;
  background: #FFF;
  box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
  justify-content: space-between;
  width: 49%;
  display: block;

}

.group_blocks .block .block_text {
  padding-top: 7px;
  padding-right: 4px;
  float: left;
}

.group_blocks {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 180px;
  margin-bottom: -35px;
}

.layer {
  display: flex;
  justify-content: space-between;
  width: 49.5%;
}


.icon_img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #EFF9FF;
  display: flex;
  align-items: center;
  float: right;
}



.icon_img img {
  width: 70%;
  height: 70%;
  margin: auto;
  display: block;

}

.main_blocks {
  bottom: 0;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
}

/*стили второго блока*/
.main_second_block {
  margin-top: 150px;
}

.second_block_container {
  max-width: 1024px;
  margin: 0 auto;
}

.second_block_container .text_title_block {
  text-align: center;
  color: #29374E;
  font-size: 38px;
  line-height: 130%;
  /* 49.4px */
  letter-spacing: -1.14px;
  margin-bottom: 44px;
}


.text_title_block span {
  color: #0962E8;
}

.products {
  display: flex;
  justify-content: space-between;
}

.info_block {
  border-radius: 30px;
  padding: 37px 33px 0 20px;
  background: #E9F6FF;
  width: 49%;
  display: flex;
  justify-content: space-between;

}


.text_block {
  width: 50%;
}

.header_text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 28px */
  margin-bottom: 12px;
}

.info_text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */

}

.info_block .img_block {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -4px;
}

.info_block .img_block img {
  width: 218px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 8px -8px 16px 0px rgba(0, 0, 0, 0.06);
}



/*Стили третьего блока*/

.main_third_block {
  margin-top: 120px;

}

.third_block_container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;

}

.left_info_block {
  width: 50%;
}

.left_info_block_text .header_text {
  font-size: 38px;
  font-weight: 500;
  font-style: normal;
  line-height: 130%;
  /* 49.4px */
  letter-spacing: -1.14px;
  padding: 0;
  margin-bottom: 21px;
}

.left_info_block_text .header_text span {
  color: #0962E8
}

.left_info_block_text .info_text {
  color: #1E2837;
  font-size: 14px;
  line-height: 140%;
  /* 19.6px */
  width: 80%;
  margin-bottom: 37px;
  padding: 0;
}

.right_group_block {
  width: 50%;
}

.block_layer {
  display: flex;
  justify-content: space-between;

}

.block_layer .block {
  border-radius: 30px;
  margin-bottom: 21px;
  width: 49%;
  padding: 17px 20px 30px 28px;
  display: grid;
}

.block .text_block_layer {
  color: #29374E;
  width: 100%;
  font-weight: 500;
  line-height: 140%;
  margin-top: 13px;
  font-size: 14px;
  /* 19.6px */
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}

@media (max-width: 639px) {
  .second_block_container .text_title_block {
    font-size: 24px;
    font-weight: 500;
  }

  .group_blocks {
    display: block;
    width: 100%;
  }

  .group_blocks .layer .block .icon_img {
    float: none;
  }

  .group_blocks .layer .block .block_text {
    float: none;
    font-size: 14px;
    margin-top: 14px;

  }

  .group_blocks .layer .block {
    padding: 10px 10px 26px 18px;
    width: 48%;
  }

  .group_blocks {
    margin-left: 0;

  }

  .layer {
    width: 100%;
    margin-top: 20px;
  }

  .group_blocks {
    margin-top: 22px;
  }

  .products {
    display: block;
  }

  .info_block {
    width: 100%;
    margin-top: 16px;

  }

  .main_blocks {
    width: unset;
    max-width: 100%;
  }

  .block .second_block_container .text_title_block {
    margin-bottom: 8px;
  }

  .header_text {
    font-size: 16px;
    color: #29374E;
  }

  .info_text {
    font-size: 13px;
  }



  .info_block {
    padding: 25px 20px 0 16px;
  }


  .info_block .img_block img {
    width: 142px;
  }


  .main_third_block {
    margin-top: 40px;
  }

  .third_block_container {
    display: block;
  }

  .left_info_block {
    width: 100%;
  }

  .right_group_block {
    width: 100%;
  }

  .left_info_block {
    margin-bottom: 37px;
  }

  .left_info_block_text .header_text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    /* 31.2px */
    letter-spacing: -0.72px;
  }

  .left_info_block_text .info_text {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 12px;
  }

  .block_layer .block {
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    padding: 10px 11px 16px 18px;
  }

  .block_layer .block .text_block_layer {
    margin-top: 7px;
  }
  
  .main_second_block{
    margin-top: 40px;
  }
}


@media (min-width: 640px) and (max-width: 1024px) {

  .main_container,
  .main_second_block,
  .main_third_block {
    padding-left: 60px;
    padding-right: 60px;
  }

  .group_blocks .block .block_text {
    font-size: 14px;
  }

  .group_blocks {
    flex-wrap: wrap;
  }

  .layer {
    width: 100%;
    margin-top: 20px;
  }

  .third_block_container {
    flex-wrap: wrap;
  }

  .left_info_block {
    width: 100%;
  }

  .right_group_block {
    width: 100%;
    margin-top: 20px;

  }
  
  .block_layer .block{
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
  }
  
  .products{
    flex-wrap: wrap;
  }
  
  .products .info_block{
    width: 100%;
    margin-bottom: 30px;
  }
  
  .main_third_block{
    margin-top: 40px;
  }

}
